@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5E7C60;
$second-color: #F2EDD7;

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 1100px) {
    width: 95%;
  }
}
.icon_status {
  @media screen and (max-width: 1100px) {
    grid-area: icon !important;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
}
.approved {
  background-color: $primary-color;
}
.unapproved {
  background-color: red;
}

nav {
  background-color: $primary-color;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 999;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 860px) {
      flex-direction: column;
      & > p {
        display: none;
      }
      .nav_brand {
        width: 100%;
        margin-bottom: 10px;
        h4 br {
          display: none;
        }
      }
    }
    .nav_brand {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55px;
        margin-right: 15px;
      }
      h4 {
        font-size: 24px;
        font-weight: 900;
        color: white;
        line-height: 113.5%;
      }
    }
    .list_link {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: 64px;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          transition: all 0.2s ease-in-out;
          font-weight: 500;
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
    p {
      font-weight: 700;
      color: white;
    }
    .profile_siswa {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img.profile {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $second-color;
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100% !important;
          opacity: 0;
          cursor: pointer;
          height: 100%;
          &:checked ~ ul {
            display: block;
          }
        }
        ul {
          display: none;
          position: absolute;
          background-color: white;
          top: 40px;
          list-style: none;
          border-radius: 5px;
          border: 2.5px solid $primary-color;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
          li {
            &:not(:last-child) {
              border-bottom: 2.5px solid $primary-color;
            }
            a {
              display: block;
              padding: 5px 20px;
              text-decoration: none;
              color: $primary-color;
              font-weight: 600;
              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .btn_login {
      padding: 4px 26px;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}

main {
  min-height: 100vh - 10vh;
  .active .show-modal {
    display: none
  }

  .buttonTambahDataSiswa{
    display: flex;
    column-gap: 10px;
  }
  .container {
    margin: 120px auto;
    color: $primary-color;
    padding: 0 10%;
    box-sizing: border-box;
    @media screen and (max-width: 860px) {
      width: 98%;
    }
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      pointer-events: none;
    }
    button {
      font-size: 10.3px;
      font-weight: 500;
      color: #fff;
      padding: 10px 18px;
      border: none;
      background-color: #5E7C60;
      border-radius: 6px;
      cursor: pointer;
      margin-bottom: 20px;
      .show-modal {
        /* position: absolute; */
        /* transform: translate(-50%, -50%); */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }
    }
    button:hover {
      background-color: #B5CB99;
      color: #5E7C60;
      transition: all 0.3s;
      font-weight: 500;
    }
    .modal-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px;
      max-width: 600px;
      width: 100%;
      border-radius: 10px;
      background-color: #F2EDD7;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      transform: translate(-50%, -50%) scale(1.2);

      position: fixed;
      h2 {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 500;
        color: #5E7C60;
        margin-bottom: 60px;
      }
      button {
        /* display: block; */
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
      }
      form {
        .file-wrapper {
          /* display: block; */
          background-color: aquamarine;
          padding: 10px 10px;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
    }
    h1 {
      font-weight: 800;
      text-align: center;
      padding: 42px 0 75px;
      @media screen and (max-width: 860px) {
        font-size: 28px;
      }
    }
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      @media screen and (max-width: 1414px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }
      @media screen and (max-width: 860px) {
        .search {
          display: flex;
          column-gap: 5px;
          input {
            width: 100%;
          }
        }
        font-size: smaller;
        .category_search {
          display: flex;
          margin: 0;
          gap: 5px;
          flex-wrap: wrap;
          .bold {
            display: none;
          }
        }
      }
      .search {
        input {
          border: none;
          border-radius: 2px;
          outline: 1px solid $primary-color;
          padding: 2px;
          color: $primary-color;
          font-weight: 600;
        }
      }
      .bold {
        font-weight: 700;
      }
      .category_search {
        span {
          border: 1px solid $primary-color;
          position: relative;
          box-sizing: border-box;
          border-radius: 3px;
          text-decoration: none;
          color: $primary-color;
          display: inline-block;
          z-index: 9;
          &:not(:last-child) {
            margin-right: 5px;
          }
          input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            &:checked {
              & ~ label {
                background-color: $primary-color !important;
                color: white;
                background-color: #f2deba;
              }
            }
          }
          label {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: inline-block;
            padding: 3px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 600;
            color: $primary-color;
            text-decoration: none;
            position: relative;
          }
        }
      }
    }
    .riwayat_laporan {
      & > div {
        width: 100%;
        .laporan {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          gap: 25px;
          background-color: $second-color;
          border: 2px solid $primary-color;
          border-radius: 5px;
          padding: 15px;
          box-sizing: border-box;
          &>img{
            width: 90%;
          }
          @media screen and (max-width: 860px) {
            flex-direction: column;
          }
          .detail_laporan {
            display: grid;
            grid-template-columns: 1fr 2fr;
            row-gap: 10px;
            grid-template-areas:
              "left right"
              "area area";
            @media screen and (max-width: 860px) {
              grid-template-areas:
                "left left"
                "right right"
                "area area";
            }
            h4 {
              font-weight: 800;
              font-size: 14px;
            }
            .pengusul {
              grid-area: left;
            }
            .category {
              grid-area: right;
              opacity: 0.7;
              font-size: 12px;
            }
            p {
              font-weight: 600;
              font-size: 12px;
              grid-area: area;
              text-align: justify;
            }
          }
          .status {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            font-weight: 600;
            font-size: 12px;
            padding: 10px 25px;
            border-radius: 3px;
            @media screen and (max-width: 860px) {
              flex-direction: row;
            }
            button {
              width: 100px;
              height: 27px;
              display: grid;
              place-items: center;
              text-decoration: none;
              color: white;
              border-radius: 3px;
              border: none;
              cursor: pointer;
            }
          }
          .approve {
            background-color: $primary-color;
          }
          .delete {
            background-color: red;
          }
        }
        .form {
          width: 100%;
          margin-bottom: 10px;
          position: relative;
          textarea {
            width: 100%;
            margin-top: -5px;
            padding: 7px;
            font-size: 12px;
            border-radius: 0 0 5px 5px;
            border: 1px solid $primary-color;
            color: $primary-color;
            font-weight: 600;
            outline: none;
            box-sizing: border-box;
            resize: vertical;
          }
          button {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 4px;
            display: none;
            padding: 5px;
            font-size: 12px;
            background-color: $primary-color;
            color: white;
            border-radius: 3px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

main.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

footer {
  background-color: $primary-color;
  p {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
  }
}
