@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5e7c60;
$second-color: #f2edd7;

* {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins, sans-serif;
}

// body {
//   overflow-x: hidden;
// }

html,
body {
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

nav {
  background-color: $primary-color;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 999;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 860px) {
      flex-direction: column;

      & > p {
        display: none;
      }

      .nav_brand {
        margin-bottom: 10px;

        h4 br {
          display: none;
        }

        img{
          margin-right: -15px;
        }
      }
      

    }

    .nav_brand {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55px;
        margin-right: 15px;
      }

      h4 {
        font-size: 24px;
        font-weight: 900;
        color: white;
        line-height: 113.5%;
      }
    }

    .list_link {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 64px;
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          transition: all 0.2s ease-in-out;
          font-weight: 500;

          &:hover {
            font-weight: 800;
          }
        }
      }
    }

    p {
      font-weight: 700;
      color: white;
    }

    .profile_siswa {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img.profile {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $second-color;
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        position: relative;

        input[type="checkbox"] {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100% !important;
          opacity: 0;
          cursor: pointer;
          height: 100%;

          &:checked ~ ul {
            display: block;
          }
        }

        ul {
          display: none;
          position: absolute;
          background-color: white;
          top: 40px;
          list-style: none;
          border-radius: 5px;
          border: 2.5px solid $primary-color;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);

          li {
            &:not(:last-child) {
              border-bottom: 2.5px solid $primary-color;
            }

            a {
              display: block;
              padding: 5px 20px;
              text-decoration: none;
              color: $primary-color;
              font-weight: 600;

              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }
    }

    .btn_login {
      padding: 4px 26px;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
      transition: all ease-in-out 0.3s;

      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}

main {
  @media screen and (max-width: 860px) {
    width: 98%;
  }

  .container {
    margin: 120px auto;
    color: $primary-color;
    padding: 0 10%;
    box-sizing: border-box;

    .container-button {
      display: flex;

      .group-button-1 {
        width: 70%;
        display: flex;
        gap: 8px;
      }

      .group-button-2 {
        width: 30%;
        display: flex;
        justify-content: flex-end;
      }
    }

    button {
      font-size: 10.3px;
      font-weight: 500;
      color: #fff;
      padding: 10px 18px;
      border: none;
      background-color: #5e7c60;
      border-radius: 6px;
      cursor: pointer;
      margin: 20px 0;

      .show-modal {
        /* position: absolute; */
        /* transform: translate(-50%, -50%); */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }
    }

    button:hover {
      background-color: #b5cb99;
      color: #5e7c60;
      transition: all 0.3s;
      font-weight: 500;
    }

    .modal-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px;
      max-width: 600px;
      width: 100%;
      border-radius: 10px;
      background-color: #f2edd7;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      transform: translate(-50%, -50%) scale(1.2);
      position: fixed;

      h2 {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
        color: #5e7c60;
        margin-bottom: 60px;
      }

      button {
        /* display: block; */
        font-size: 14px;
        padding: 8px 12px;
        margin: 0;
      }

      form {
        .file-wrapper {
          /* display: block; */
          background-color: aquamarine;
          padding: 10px 10px;
          // margin-right: 10px;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      }
    }

    .table-container {
      padding: 20px;
      // padding-bottom: 100px;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      overflow-x: auto;

      .data-table {
        // margin-top: 200px;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
          padding: 15px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        th {
          background-color: #f8f9fa;
          font-weight: bold;
          color: #333;
        }

        tbody tr:nth-child(even) {
          background-color: #f9f9f9;
        }

        tbody tr:hover {
          background-color: #f0f0f0;
        }

        /* Responsive styles */
        @media (max-width: 768px) {
          .table-container {
            max-width: 100%;
          }
        }
      }
    }

    h1 {
      margin-top: -120px;
      margin-bottom: -40px;
      font-weight: 800;
      text-align: center;
      padding: 42px 0 75px;

      @media screen and (max-width: 860px) {
        font-size: 28px;
      }
    }
  }
}

main.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

footer {
  background-color: $primary-color;
  // width: 100%;

  p {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
  }
}
