@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 95%;
  }
}

nav {
  background-color: #5E7C60;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5E7C60;
  z-index: 999;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 860px) {
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .container > p {
    display: none;
  }
  nav .container .nav_brand {
    width: 100%;
    margin-bottom: 10px;
  }
  nav .container .nav_brand h4 br {
    display: none;
  }
}

nav .container .nav_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav_brand img {
  width: 55px;
  margin-right: 15px;
}

nav .container .nav_brand h4 {
  font-size: 24px;
  font-weight: 900;
  color: white;
  line-height: 113.5%;
}

nav .container .list_link {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .list_link li:not(:last-child) {
  margin-right: 64px;
}

nav .container .list_link li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

nav .container .list_link li a:hover {
  font-weight: 800;
}

nav .container p {
  font-weight: 700;
  color: white;
}

nav .container .profile_siswa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

nav .container .profile_siswa img.profile {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #F2EDD7;
}

nav .container .profile_siswa .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
  position: relative;
}

nav .container .profile_siswa .name input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  opacity: 0;
  cursor: pointer;
  height: 100%;
}

nav .container .profile_siswa .name input[type="checkbox"]:checked ~ ul {
  display: block;
}

nav .container .profile_siswa .name ul {
  display: none;
  position: absolute;
  background-color: white;
  top: 40px;
  list-style: none;
  border-radius: 5px;
  border: 2.5px solid #5E7C60;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
}

nav .container .profile_siswa .name ul li:not(:last-child) {
  border-bottom: 2.5px solid #5E7C60;
}

nav .container .profile_siswa .name ul li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #5E7C60;
  font-weight: 600;
}

nav .container .profile_siswa .name ul li a:hover {
  background-color: #5E7C60;
  color: white;
}

nav .container .btn_login {
  padding: 4px 26px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

nav .container .btn_login:hover {
  background-color: white;
  color: #5E7C60;
}

main .active .show-modal {
  display: none;
}

main .buttonTambahDataSiswa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

main .container {
  margin: 120px auto;
  color: #5E7C60;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 860px) {
  main .container {
    width: 98%;
  }
}

main .container .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

main .container button {
  font-size: 10.3px;
  font-weight: 500;
  color: #fff;
  padding: 10px 18px;
  border: none;
  background-color: #5E7C60;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

main .container button .show-modal {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

main .container button:hover {
  background-color: #B5CB99;
  color: #5E7C60;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
}

main .container .modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  background-color: #F2EDD7;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  position: fixed;
}

main .container .modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #5E7C60;
  margin-bottom: 60px;
}

main .container .modal-box button {
  /* display: block; */
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
}

main .container .modal-box form .file-wrapper {
  /* display: block; */
  background-color: aquamarine;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

main .container h1 {
  font-weight: 800;
  text-align: center;
  padding: 42px 0 75px;
}

@media screen and (max-width: 860px) {
  main .container h1 {
    font-size: 28px;
  }
}

main.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

footer {
  background-color: #5E7C60;
}

footer p {
  padding: 14px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 800;
}
/*# sourceMappingURL=datasiswa.css.map */