@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5E7C60;
$second-color: #F2EDD7;

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 1100px) {
    width: 95%;
  }
}

nav {
  background-color: $primary-color;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 999;
  padding: 15px 0;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 860px) {
      flex-direction: column;
      & > p {
        display: none;
      }
      .nav_brand {
        width: 100%;
        margin-bottom: 10px;
        h4 br {
          display: none;
        }
      }
    }
    .nav_brand {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55px;
        margin-right: 15px;
      }
      h4 {
        font-size: 24px;
        font-weight: 900;
        color: white;
        line-height: 113.5%;
      }
    }
    .list_link {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: 64px;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          transition: all 0.2s ease-in-out;
          font-weight: 500;
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
    p {
      font-weight: 700;
      color: white;
    }
    .profile_siswa {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img.profile {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $second-color;
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100% !important;
          opacity: 0;
          cursor: pointer;
          height: 100%;
          &:checked ~ ul {
            display: block;
          }
        }
        ul {
          display: none;
          position: absolute;
          background-color: white;
          top: 40px;
          list-style: none;
          border-radius: 5px;
          border: 2.5px solid $primary-color;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
          li {
            &:not(:last-child) {
              border-bottom: 2.5px solid $primary-color;
            }
            a {
              display: block;
              padding: 5px 20px;
              text-decoration: none;
              color: $primary-color;
              font-weight: 600;
              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .btn_login {
      padding: 4px 26px;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}

main {
  min-height: 100vh;
  .container {
    margin: 150px auto;
    color: $primary-color;
    h1 {
      font-weight: 800;
      margin: 42px 0 52px;
      text-align: center;
      @media screen and (max-width: 1100px) {
        font-size: 26px;
        margin: 52px 0 32px;
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      input:read-only{
        background-color: #0e5d6f3d;
      }
      & > label,
      & > input,
      button {
        width: 70%;
        margin: 5px 0;
      }
      & > input,
      button {
        padding: 10px;
        box-sizing: border-box;
      }
      & > input {
        background-color: transparent;
        border: 3px solid $primary-color;
        border-radius: 3px;
        outline: none;
        color: $primary-color;
        font-weight: 500;
      }
      button {
        background-color: $primary-color;
        border: none;
        outline: none;
        font-weight: 800;
        font-size: 16px;
        color: white;
        cursor: pointer;
        border-radius: 3px;
        @media screen and (max-width: 1100px) {
          font-size: 14px;
        }
        &:hover {
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.238);
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  overflow-x: hidden;
  margin-top: 100px;
  p {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
    @media screen and (max-width: 1100px) {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
