@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  font-family: Poppins, sans-serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 85%;
  }
}

.icon_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
}

@media screen and (max-width: 1100px) {
  .icon_status {
    grid-area: icon !important;
  }
}

.approved {
  background-color: #5e7c60;
}

.unapproved {
  background-color: red;
}

nav {
  background-color: #5e7c60;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #5e7c60;
  z-index: 999;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 860px) {
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .container > p {
    display: none;
  }
  nav .container .nav_brand {
    margin-bottom: 10px;
  }
  nav .container .nav_brand h4 br {
    display: none;
  }
  nav .container .nav_brand img {
    margin-right: -15px;
  }
}

nav .container .nav_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .nav_brand img {
  width: 55px;
  margin-right: 15px;
}

nav .container .nav_brand h4 {
  font-size: 24px;
  font-weight: 900;
  color: white;
  line-height: 113.5%;
}

nav .container .list_link {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .list_link li:not(:last-child) {
  margin-right: 64px;
}

nav .container .list_link li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

nav .container .list_link li a:hover {
  font-weight: 800;
}

nav .container p {
  font-weight: 700;
  color: white;
}

nav .container .profile_siswa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

nav .container .profile_siswa img.profile {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #f2edd7;
}

nav .container .profile_siswa .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
  position: relative;
}

nav .container .profile_siswa .name input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  opacity: 0;
  cursor: pointer;
  height: 100%;
}

nav .container .profile_siswa .name input[type="checkbox"]:checked ~ ul {
  display: block;
}

nav .container .profile_siswa .name ul {
  display: none;
  position: absolute;
  background-color: white;
  top: 40px;
  list-style: none;
  border-radius: 5px;
  border: 2.5px solid #5e7c60;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
}

nav .container .profile_siswa .name ul li:not(:last-child) {
  border-bottom: 2.5px solid #5e7c60;
}

nav .container .profile_siswa .name ul li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #5e7c60;
  font-weight: 600;
}

nav .container .profile_siswa .name ul li a:hover {
  background-color: #5e7c60;
  color: white;
}

@media screen and (max-width: 370px) {
  nav .container .profile_siswa .name p {
    font-size: 4vw;
  }
}

nav .container .btn_login {
  padding: 4px 26px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

nav .container .btn_login:hover {
  background-color: white;
  color: #5e7c60;
}

@media screen and (max-width: 860px) {
  main {
    width: 100%;
  }
}

main .container {
  margin: 120px auto;
  color: #5e7c60;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .container .button-up {
  position: absolute;
  margin-top: 15px;
}

main .container .container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container button {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  padding: 10px 18px;
  border: none;
  background-color: #5e7c60;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px 0;
}

main .container button:hover {
  background-color: #b5cb99;
  color: #5e7c60;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 300;
}

main .container h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: #5e7c60;
  margin-bottom: 60px;
}

main .container button {
  font-size: 12px;
  padding: 8px 12px;
  margin: 0;
}

main .container .filter-laporan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}

main .container .filter-laporan form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .container .filter-laporan form .apply2 {
  display: none;
}

main .container .filter-laporan form .input-tanggal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 675px) {
  main .container .filter-laporan form .input-tanggal {
    position: static;
  }
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 22px;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 545px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 13px;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 485px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 10px;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 440px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 8px;
    color: white;
    font-size: 2.2vw;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 437px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 4px;
    color: white;
    font-size: 2.4vw;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 375px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 6px 1vw;
    color: white;
    font-size: 2.4vw;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

@media screen and (max-width: 358px) {
  main .container .filter-laporan form .input-tanggal input[type="date"] {
    background-color: #5e7c60;
    padding: 7px 1vw;
    color: white;
    font-size: 2.4vw;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

main .container .filter-laporan form .pre-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 675px) {
  main .container .filter-laporan form .pre-apply {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    display: none;
  }
}

main .container .filter-laporan form input[type="date"] {
  background-color: #5e7c60;
  padding: 6px 6px;
  color: white;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

main .container .filter-laporan form ::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 2px;
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (max-width: 675px) {
  main .container .filter-laporan form {
    display: block;
  }
  main .container .filter-laporan form .apply2 {
    display: block;
  }
  main .container .filter-laporan form .apply2 button {
    width: 100%;
    margin: 10px 0;
  }
}

main .container .filter-laporan .show-modal-2 {
  width: 100%;
}

@media screen and (max-width: 675px) {
  main .container .filter-laporan {
    display: block;
    position: static;
  }
}

main h1 {
  margin-top: -120px;
  margin-bottom: -40px;
  font-weight: 800;
  text-align: center;
  padding: 42px 0 75px;
}

@media screen and (max-width: 860px) {
  main h1 {
    font-size: 28px;
  }
}

main .riwayat_laporan > div {
  width: 100%;
}

main .riwayat_laporan > div .laporan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  gap: 25px;
  background-color: #f2edd7;
  border: 2px solid #5e7c60;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .riwayat_laporan > div .laporan > img {
  width: 220px;
  height: 170px;
}

@media screen and (max-width: 860px) {
  main .riwayat_laporan > div .laporan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .riwayat_laporan > div .laporan .detail_laporan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  row-gap: 10px;
      grid-template-areas: "left right" "area area";
}

@media screen and (max-width: 860px) {
  main .riwayat_laporan > div .laporan .detail_laporan {
        grid-template-areas: "left left" "right right" "area area";
  }
}

main .riwayat_laporan > div .laporan .detail_laporan h4 {
  font-weight: 800;
  font-size: 14px;
}

main .riwayat_laporan > div .laporan .detail_laporan .pengusul {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

main .riwayat_laporan > div .laporan .detail_laporan .category {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  opacity: 0.7;
  font-size: 12px;
}

main .riwayat_laporan > div .laporan .detail_laporan p {
  font-weight: 600;
  font-size: 12px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: area;
  text-align: justify;
}

main .riwayat_laporan > div .laporan .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 3px;
}

@media screen and (max-width: 860px) {
  main .riwayat_laporan > div .laporan .status {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .riwayat_laporan > div .laporan .status button {
  width: 100px;
  height: 27px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

main .riwayat_laporan > div .laporan .approve {
  background-color: #5e7c60;
}

main .riwayat_laporan > div .laporan .approve span {
  position: absolute;
  margin-top: 3px;
}

main .riwayat_laporan > div .laporan .delete {
  background-color: red;
}

main .riwayat_laporan > div .laporan .delete span {
  position: absolute;
  margin-top: 3px;
}

main .riwayat_laporan > div .form {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

main .riwayat_laporan > div .form textarea {
  width: 100%;
  margin-top: -5px;
  padding: 7px;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #5e7c60;
  color: #5e7c60;
  font-weight: 600;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

main .riwayat_laporan > div .form button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4px;
  display: none;
  padding: 5px;
  font-size: 12px;
  background-color: #5e7c60;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #5e7c60;
}

footer p {
  padding: 14px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 800;
}
/*# sourceMappingURL=filter.css.map */