@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5E7C60;
$second-color: #F2EDD7;

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 1100px) {
    width: 95%;
  }
}

nav {
  background-color: $primary-color;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 999;
  padding: 15px 0;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.205);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 860px) {
      flex-direction: column;
      & > p {
        display: none;
      }
      .nav_brand {
        width: 100%;
        margin-bottom: 10px;
        h4 br {
          display: none;
        }
      }
    }
    .nav_brand {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55px;
        margin-right: 15px;
      }
      h4 {
        font-size: 24px;
        font-weight: 900;
        color: white;
        line-height: 113.5%;
      }
    }
    .list_link {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: 64px;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          transition: all 0.2s ease-in-out;
          font-weight: 500;
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
    p {
      font-weight: 700;
      color: white;
    }
    .profile_siswa {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img.profile {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid $second-color;
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100% !important;
          opacity: 0;
          cursor: pointer;
          height: 100%;
          &:checked ~ ul {
            display: block;
          }
        }
        ul {
          display: none;
          position: absolute;
          background-color: white;
          top: 40px;
          list-style: none;
          border-radius: 5px;
          border: 2.5px solid $primary-color;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.413);
          li {
            &:not(:last-child) {
              border-bottom: 2.5px solid $primary-color;
            }
            a {
              display: block;
              padding: 5px 20px;
              text-decoration: none;
              color: $primary-color;
              font-weight: 600;
              &:hover {
                background-color: $primary-color;
                color: white;
              }
            }
          }
        }
      }
    }
    .btn_login {
      padding: 4px 26px;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}

main {
  .container {
    margin: 120px auto;
    color: $primary-color;
    .profile {
      margin: 220px 0 180px;
      padding: 0 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
      @media screen and (max-width: 1100px) {
        flex-direction: column;
      }
      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 5px;
        border: 5px solid $primary-color;
      }
      .detail {
        @media screen and (max-width: 1100px) {
          text-align: center;
          display: flex;
          flex-direction: column;
          a{
            margin: 0 0 10px !important;
          }
        }
        h1 {
          font-weight: 800;
        }
        p {
          font-weight: 700;
          margin: 6px 0 24px;
        }
        a {
          padding: 9px 24px;
          background: #000;
          display: inline-block;
          border-radius: 3px;
          text-decoration: none;
          font-weight: 700;
          &.lapor {
            background-color: $primary-color;
            color: white;
            margin-right: 10px;
          }
          &.edit {
            background-color: #cff7ff;
            color: $primary-color;
          }
        }
      }
    }
    .riwayat_laporan {
      padding: 0 10%;
      h3 {
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        margin: -50px 0 44px;
      }
      h1{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
      }
      .laporan {
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;
          background-color: $second-color;
          border: 2px solid $primary-color;
          border-radius: 5px;
          padding: 15px;
          box-sizing: border-box;
          @media screen and (max-width: 1100px) {
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-template-areas:
              "foto foto"
              "deskripsi deskripsi"
              "icon icon";
            align-items: end;
          }
          img {
            @media screen and (max-width: 1100px) {
              grid-area: foto !important;
              margin: auto;
            }
          }
          .detail_laporan {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            grid-template-areas:
              "left right"
              "area area";
            @media screen and (max-width: 1100px) {
              grid-area: deskripsi !important;
              grid-template-areas:
                "left left"
                "right right"
                "area area";
                p{
                  font-size: 12px !important;
                }
            }
            h4 {
              font-weight: 800;
              font-size: 14px;
            }
            .pengusul {
              grid-area: left;

            }
            .category {
              grid-area: right;
              opacity: 0.7;
              font-size: 12px !important;
            }
            p {
              font-weight: 600;
              font-size: 12px;
              grid-area: area;
              text-align: justify;
            }
          }
          .icon_status {
            @media screen and (max-width: 1100px) {
              grid-area: icon !important;
              flex-direction: row;
              justify-content: center;
              padding: 5px;
              gap: 3px;
              img {
                margin: 5px;
                width: 16px;
              }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            font-weight: 600;
            font-size: 12px;
            color: white;
            padding: 10px 25px;
            border-radius: 3px;
          }
          .approved {
            background-color: $primary-color;
          }
          .unapproved {
            background-color: red;
          }
        }
        form {
          width: 100%;
          margin-bottom: 10px;
          position: relative;
          z-index: 99;
          textarea {
            width: 100%;
            margin-top: -5px;
            padding: 7px;
            font-size: 12px;
            border-radius: 0 0 5px 5px;
            border: 1px solid $primary-color;
            color: $primary-color;
            font-weight: 600;
            outline: none;
            z-index: 999;
            box-sizing: border-box;
          }
          button {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 4px;
            display: none;
            padding: 5px;
            font-size: 12px;
            background-color: $primary-color;
            color: white;
            border-radius: 3px;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  overflow-x: hidden;
  margin-top: 100px;
  p {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
    @media screen and (max-width: 1100px) {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
