* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 860px) {
  .container {
    width: 85%;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #5E7C60;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.222);
}
nav .container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  position: relative;
  padding: 10px 0;
}

nav .container .nav_brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav .container .nav_brand img {
  width: 50px;
}
nav .container .nav_brand h4 {
  font-weight: 800;
  font-size: 20px;
  color: white;
}
nav .container .nav_brand h4 br {
  display: none;
}

nav .container .burger_menu {
  background-image: url(../assets/img/menu.png);
  width: 35px;
  height: 35px;
  background-size: cover;
  position: absolute;
  top: 15px;
  right: 10px;
}

nav .container input {
  opacity: 0;
}
nav .container #label {
  cursor: pointer;
}
nav .container .grid {
  display: grid !important;
}
nav .container .list_link {
  display: none;
  width: 100%;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right" "button button";
  box-sizing: border-box;
}

nav .container .list_link li {
  text-align: center;
  list-style: none;
}
nav .container .list_link li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: block;
  border-radius: 3px;
  padding: 7px;
  transition: all ease-in-out 0.3s;
}
nav .container .list_link li a:hover {
  background-color: #F2EDD7;
}

nav .container .list_link .home {
  grid-area: left;
}
nav .container .list_link .cara {
  grid-area: right;
}
nav .container .list_link .btn_login {
  grid-area: button;
}

nav .container .btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .container .btn a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  font-weight: 600;
  border-radius: 3px;
  font-size: 18px;
  transition: all ease-in-out 0.3s;
}
nav .container .btn a:hover {
  background-color: white;
  color: #5E7C60;
}

/* style MAIN */
main {
  margin-top: 68px !important;
  background-color: #F9F5F2;
  color: white;
  font-size: 38px;
  font-weight: 800;
  height: 476px;
  overflow-y: hidden;
}

main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}

main .container .left {
  width: 60%;
  overflow-y: hidden;
}

main .container .left h1{
  font-size: 4.1vw;
}
main .container .left p {
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 25px;
}
main .container .left a {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 16px;
  text-decoration: none;
  color: #5E7C60;
  background-color: #F2EDD7;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
main .container .right img {
  margin-top: 30px;
}

.category_laporan h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 900;
  color: #5E7C60;
}
/* akhir style MAIN */

/* style KATEGORI */
.category_laporan section.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 50px;
  justify-items: center;
}

.category_laporan section.category div {
  position: relative;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 285px;
  background-color: #F2EDD7;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Untuk mengatur posisi vertical ke tengah */
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 27px;
  justify-items: center;
}



.category_laporan section.category div h3 {
  font-size: 22px;
  color: #5E7C60;
  font-weight: 900;
  margin-top: 11px;
  margin-bottom: 5px;
}
.category_laporan section.category div p {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}
/* akhir style KATEGORI */

/* style TIM EXPERT */
.tim-expert {
  color: #5e7c60;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 60px;
}

.orang-web-crafters {
  color: #5e7c60;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.container.tim-expert {
  display: flex;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(230px,1fr));
  row-gap: 100px;
  justify-items: center;
}

.tim {
  width: 250px;
  height: 350px;
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}

.tim.reyhan img,
.rafi img,
.dalta img,
.yuma img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pre-profil {
  display: flex;
}

.profil {
  margin: auto;
}

.profil .nama {
  margin-top: 10px;
  font-size: 20px;
  color: #5e7c60;
  text-align: center;
}

.profil .jobdesk {
  font-size: 16px;
  color: #5e7c60;
  opacity: 0.7;
  text-align: center;
}
/* akhir style TIM EXPERT */

/* style FOOTER */
footer {
  background-color: #5E7C60;
  overflow-x: hidden;
}
footer p {
  padding: 14px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 800;
}
/* akhir style TIM EXPERT */
/*# sourceMappingURL=style.css.map */

/* asset font */
@font-face {
  font-family: "Poppins";
  src: url(../assets/poppins/Poppins-Medium.otf);
}

/* Responsive Break Point */
/* Responsive - Navbar */
@media screen and (min-width: 700px) {
  nav .container {
    justify-content: space-evenly !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "brand link button";
  }
  nav .container .nav_brand {
    justify-content: flex-start !important;
    grid-area: brand;
  }
  nav .container .nav_brand h4 br {
    display: block;
  }
  nav .container .burger_menu {
    display: none;
  }
  nav .container .list_link {
    display: grid;
  }
  nav .container .list_link li a:hover {
    background: none;
    font-weight: bold;
  }
  nav .container .list_link .btn_login {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  nav .container .btn {
    display: none;
  }
}
/* akhir Responsive - Navbar */

/* Responsive Main */
@media screen and (max-width: 1000px) {
  main {
    height: 100%;
    margin-top: 80px;
    padding: 20px;
  }
  main .container .left {
    width: 100% !important;
    text-align: center;
  }
  main .container .left h1 {
    font-size: 36px;
    font-weight: 900;
  }
  main .container .left p {
    text-align: center;
    margin: auto;
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }
  main .container .left a {
    font-size: 12px !important;
    font-weight: 700;
    padding: 5px 8px !important;
    text-decoration: none;
    color: #5E7C60;
    background-color: #F2EDD7;
    border-radius: 2px !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  main .container .right {
    display: none;
  }
}
/* akhir Responsive - Main */

/* Responsive Kategori */
@media screen and (max-width: 1052px) {
  .category_laporan h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1052px) {
  .category_laporan section.category {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .category_laporan section.category {
    display: grid;
    grid-template-columns: repeat(2, minmax(210px, 1fr));
    gap: 50px;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  .category_laporan section.category {
    display: grid;
    grid-template-columns: repeat(1, minmax(210px, 1fr));
    gap: 50px;
    justify-items: center;
  }
}
/* akhir Responsive - Kategori */

/* Responsive - Tim Expert */
@media screen and (max-width: 1300px) {
  .container.tim-expert {
    display: flex;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2 ,minmax(330px,1fr));
    row-gap: 100px;
    justify-items: center;
  }
}

@media screen and (max-width: 800px) {
  .container.tim-expert {
    display: flex;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(1 ,minmax(330px,1fr));
    row-gap: 100px;
    justify-items: center;
  }
}
/* akhir Reesponsive - Tim Expert */

/* Responsive Footer */
@media screen and (max-width: 1100px) {
  footer p {
    font-size: 12px;
    font-weight: 600;
  }
}
/* akhir Resposive Footer */

