@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: #5E7C60;
$second-color: #F2EDD7;

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 860px) {
    width: 98%;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.222);
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    position: relative;
    padding: 10px 0;
    @media screen and (min-width: 700px) {
      justify-content: space-evenly !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "brand link button";
    }
    .nav_brand {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @media screen and (min-width: 700px) {
        justify-content: flex-start !important;
        grid-area: brand;
      }
      img {
        width: 50px;
      }
      h4 {
        font-weight: 800;
        font-size: 20px;
        color: white;
        br {
          display: none;
          @media screen and (min-width: 700px) {
            display: block;
          }
        }
      }
    }
    .burger_menu {
      background-image: url(../assets/img/menu.png);
      width: 35px;
      height: 35px;
      background-size: cover;
      position: absolute;
      top: 10px;
      right: 10px;
      @media screen and (min-width: 700px) {
        display: none;
      }
    }
    input {
      // display: none;
      opacity: 0;
    }
    #label {
      cursor: pointer;
    }
    .grid {
      display: grid !important;
    }
    .list_link {
      display: none;
      width: 100%;
      margin-top: 10px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "left right"
        "button button";
      box-sizing: border-box;
      @media screen and (min-width: 700px) {
        display: grid;
      }
      li {
        text-align: center;
        list-style: none;
        a {
          text-decoration: none;
          color: white;
          font-weight: 600;
          display: block;
          border-radius: 3px;
          padding: 7px;
          transition: all ease-in-out 0.3s;
          &:hover {
            background-color: #104f5d;
            @media screen and (min-width: 700px) {
              background: none;
              font-weight: bold;
            }
          }
        }
      }

      .home {
        grid-area: left;
      }
      .cara {
        grid-area: right;
      }
      .btn_login {
        grid-area: button;
        @media screen and (min-width: 700px) {
          display: none;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and (max-width: 700px) {
        display: none;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        border: 1px solid white;
        font-weight: 600;
        border-radius: 3px;
        font-size: 18px;
        transition: all ease-in-out 0.3s;
        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }
    }
  }
}

main {
  color: $primary-color;
  margin-top: 115px !important;
  min-height: 100vh;
  h2 {
    margin-bottom: 57px !important;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    @media screen and (max-width: 1100px) {
      font-size: 28px;
    }
  }
  section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    @media screen and (max-width: 1100px) {
      width: 95%;
    }
    .nomor {
      width: 110px;
      height: 110px;
      background-color: $second-color;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      outline: 1px solid black;
      margin-right: 25px;
      @media screen and (max-width: 1100px) {
        width: 32px;
        height: 32px;
      }
      .bottom_nomor {
        position: absolute;
        display: block;
        margin-top: 8px;
        margin-left: 8px;
        width: 110px;
        height: 110px;
        background-color: $primary-color;
        border-radius: 50%;
        z-index: -999;
        outline: 1px solid black;
        @media screen and (max-width: 1100px) {
          width: 32px;
          height: 32px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
      h3 {
        font-weight: 900;
        font-size: 36px;
        @media screen and (max-width: 1100px) {
            font-size: 28px;
        }
      }
    }
    .description {
      background-color: $second-color;
      width: 70%;
      position: relative;
      outline: 1px solid black;
      .bottom_description {
        background-color: $primary-color;
        z-index: -999;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-left: 5px;
        position: absolute;
        display: block;
        outline: 1px solid black;
      }
      p.bold {
        padding: 20px;
        font-weight: 800;
        font-size: 30px;
        @media screen and (max-width: 1100px) {
            font-size: 16px;
        }
      }
      .desc {
        margin-top: -30px;
        padding: 20px;
        @media screen and (max-width: 1100px) {
            font-size: 12px;
            font-weight: 600;
        }
        ul {
          padding-left: 30px;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  overflow-x: hidden;
  p {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 800;
    @media screen and (max-width: 1100px) {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
